body {
  margin: 0;
  padding: 0;
}
.diff {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.diff > div {
  margin: 0 10px;
}

.highlight {
  display: block;
  padding: 10px;
  overflow-x: scroll;
}

h1, h2 {
  font-family: 'Arvo', serif;
}

.hidden {
  display: none;
}
