<!doctype html>
<html>
  <head>
    <title>Side-by-Side Comparison of Swift with Scala</title>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="all" href="css/theme.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/application.css">
  </head>
  <body>

    <div class="content">
      <header>
        <h1>Side-by-Side Comparison of Swift with Scala</h1>
      </header>

      <section>
        <div class="code-listing">
          <h2>Swift</h2>
          <%= swift_example %>
        </div>
        <div class="code-listing">
          <h2>Scala</h2>
          <%= scala_example %>
        </div>
      </section>
    </div>

  </body>
</html>
