<!doctype html>
<html>
  <head>
    <title>Basic Comparison of Swift with Scala</title>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="all" href="css/theme.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/application.css">
    <script src="js/application.js"></script>
  </head>
  <body>

    <div class="content">
      <header>
        <h1>Basic Comparison of Swift with Scala</h1>
      </header>

      <button>Toggle Go/Scala</button>

      <section>
        <div class="code-listing">
          <h2>Swift</h2>
          <%= swift_example %>
        </div>
        <div class="code-listing js-togglable">
          <h2>Scala</h2>
          <%= scala_example %>
        </div>
        <div class="code-listing js-togglable hidden">
          <h2>Go</h2>
          <%= go_example %>
        </div>
      </div>
    </section>

  </body>
</html>
